<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Overlay</title>
    <base href="/"/>
    <link rel="stylesheet" href="/css/overlay.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div id="containter">
    <div class="round w3-dark-grey">
        <div class="bar" style="width:100"></div>
      </div><br>
    <div class="text"><span id="desc"></span> <span id="currAmt"></span> / <span id="totalAmt"></span></div>
    </div>
<script src="/js/overlay.js"></script>
</body>
</html>
